/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    background-color: #374a5d !important;
    border: 0 !important;
}

#Title , #Description{
    width: 210px;
    margin: 3px 5px;
    border-radius: 5px;
}

#datepicker{
  width: 100px;
  margin: 3px 60px;
  border-radius:5px;
}

#button{
  width: 90px;
  height: 35px;
  margin: 10px 60px;
  border-radius: 5px;
  background-color: #374a5d;
  color: #fff;
}

#button2{
  width: 90px;
  height: 35px;
  border-radius: 5px;
  background-color: #374a5d;
  color: #fff;
  margin: 0px 60px;
  margin-bottom: 10px;
}

.navbar {
  background-color: #34495e  ;
  padding: 10px;
}

.icon-bar{
  background-color: #ffffff;
}


li {
  list-style: none;
}

a{
  color: #FFFFFF;
}

a:hover{
  color: #85c1e9;
}

#div{
  margin-top: 15px;
}

#doit{
  font-size: 25px;
}

#container{
    margin: 0 auto;
    min-height: 100%;
    background-color: transparent;
    border: 0;
    margin-top: 200px;
    margin-left: 125px;
}

.panel{
  margin-top: 0 auto;
  width: 250px;
  margin: 0 5px;
  background-color: #e3e3e3;
  min-height: 240px;
  border-radius: 10px;
}

.panel input, .panel textarea{
    width: 240px;
    margin: 1px 5px;
}

.todo-task{
    border-radius: 5px;
    background-color: #fff;
    width: 215px;
    padding: 5px;
    margin: 1px 1px;
}

.todo-task > .task-header{
    font-weight: bold;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

h3{
    text-align: center;
}
