
<!DOCTYPE html>
<html ng-app="todoApp">
<head >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Do it</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link href="css/notes.css" rel="stylesheet">
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
  <script type="text/javascript">
    var token =localStorage.getItem("x-auth"); //TODO: X-AUTH
    if(token){
    }else{
      window.location.href = "logIn.html";
    }
  </script>

</head>
<body>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h1 id="perfil">Bienvenido:</h1><br>
        <h3 id="nombreApellido"></h3>
        <h4 id="usuario"></h4>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a id="botonC" onclick="logO();" ><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a>
        </li>
      </ul>
    </nav>
    <!-- Page Content Holder -->
    <div id="content">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
    <div id="notas" ng-controller="TodoController">
      <h2 align="center">Things To Do</h2>
      <div id="inputs" class="row">
        <div class = "col-lg-2">
          <input maxlength="255" id="minisquare" class="form-control" type="text" ng-model="input" placeholder="Title">
          <span id="alert" data-alertid="titulo"></span>
        </div>
        <div class = "col-lg-4">
          <input maxlength="255" id="square" class="form-control" type="text" ng-model="input1" placeholder="Description">
        </div>
        <div class = "col-lg-3">
          <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="date" ng-model="input2"/>
        </div>
        <div class="col-lg-2">
          <select class="form-control" id="square" ng-model="Categoria" ng-options="categoria.Id as categoria.Name for categoria in Category track by categoria.Id">
        </select>
        </div>
        <div class="col-lg-1">
          <button ng-click="add(input,input1,input2,Categoria)" class="btn btn-block">Add Todo</button>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="todo in todos">
          <button ng-click="remove(todo)" class="btn glyphicon glyphicon-remove"></button>
          <button ng-click="editing = editing ? null : todo" class="btn glyphicon glyphicon-pencil"></button>
          <button ng-click="completeTask(todo)" ng-disabled:"isDisabled" class="btn glyphicon glyphicon-ok"/></button>
          <center><span class="done-{{todo.done}}" id="Tittle" ng-if="editing !== todo">{{ todo.title }}</span></center><br>
          <center><span class="done-{{todo.done}}" id="Description" ng-if="editing !== todo">{{ todo.description }}</span></center><br>
          <center><span class="done-{{todo.done}}" id="Date" ng-if="editing !== todo">{{ todo.date }}</span></center><br>
          <center><span class="done-{{todo.done}}"  ng-if="editing !== todo">{{ todo.category }}</span></center>
          <input ng-if="editing !== null" type="text" ng-model="todo.title">
          <input ng-if="editing !== null" type="text" ng-model="todo.description">
          <input ng-if="editing !== null" type="date" ng-model="todo.date">
        </li>
      </ul>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="js/todo.js"></script>
  <script type="text/javascript" src="js/menu.js"></script>
  <script type="text/javascript" src="js/user.js"></script>
  <script type="text/javascript" src="js/logOut.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="js/prettify.js"></script>
  <script src="js/jquery.bsFormAlerts.js"></script>
  <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
  <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/ngAlertify.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      date_input.datepicker({
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      })
    })
  </script>
</body>
</html>
